<div class="test-item">
  <div class="container">
      <div class="row justify-content-center align-self-center">
          <div class="col-3 col-lg-3 col-sm-3 relative">
              <img width="150px" src="../../assets/images/topic/topicAngular.png">
          </div>
          <div class="col-9 col-lg-9 col-sm-9 no-padding-left">
              <a href=""><h2 class="title20Bold">Câu trắc nghiệm chủ đề Angular</h2></a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus sunt recusandae hic harum maiores placeat quisquam dicta, fugit dignissimos est praesentium, itaque repellat porro illo explicabo corrupti nulla doloribus corporis?</p>
              <div class="view-detail">
                  <a href="/contestant/exam" class="btn orange h28 f400 float-right">Làm bài</a>
              </div>
          </div>
      </div>
  </div>
</div>
