<label class="col-md-12" style="display: flex;">
  <input 
    type="radio" 
    class="option-input radio col--md-1" 
    [name]="index" 
    [id]="answer?.answerID" 
    [checked]="listOption?.includes(answer!.answerID)" 
    required
    [disabled]="this.router.url.includes('result')"
    [ngClass]="{
      'option-input-success': answer?.isCorrect === true && this.router.url.includes('result'),
      'option-input-danger': answer?.isCorrect === false && listOption?.includes(answer!.answerID)
    }"/>
  <span
    class="col-md-11"
    [ngClass]="{
      'span-success': answer?.isCorrect === true && router.url.includes('/result'), 
      'span-danger': answer?.isCorrect === false && listOption?.includes(answer!.answerID)
    }">
    {{answer?.content}}
  </span>
</label>