<div class="lession-list bg relative l01 hover-link">
  <div class="container">
      <div class="row">
          <div class="col-12 col-lg-6 col-sm-12">
              <div class="lession-box">
                  <h2 class="title40Bold">Trắc nghiệm Tiếng Anh</h2>
                  <p>Tổng hợp hàng ngàn câu trắc nghiệm Tiếng Anh Online và các đề thi chứng chỉ quốc tế TOEIC, TOEFL, IELTS giúp nhân viên công ty và các fresher ôn luyện để phục vụ cho các bài kiểm tra trình đồ tiếng Anh của nhân viên IFI Solution.</p>
                  <a href="/contestant/unfinished" class="btn orange">Làm ngay</a>
              </div>
          </div>
          <div class="col-12 col-lg-6 col-sm-12">
            <img src="../../../assets/images/test/englishTest.png" class="lession-img" alt="">
          </div>
      </div>
  </div>
</div>
<div class="lession-list bg white l02 hover-link">
  <div class="container">
      <div class="row">
          <div class="col-12 col-lg-6 col-sm-12">
            <img src="../../../assets/images/test/itTest.png" class="lession-img" alt="">
          </div>
          <div class="col-12 col-lg-6 col-sm-12">
              <div class="lession-box">
                  <h2 class="title40Bold">Trắc nghiệm Lập trình</h2>
                  <p>Hệ thống các bài trắc nghiệm online về tin học văn phòng, tin học cơ bản, lập trình, quản trị hệ thống, giúp nhân viên công ty và các fresher ôn luyện để phục vụ cho các bài kiểm tra kiến thức lập trình của nhân viên IFI Solution.</p>
                  <div class="center bg-lession mb"></div>
                  <a href="/contestant/list" class="btn orange" id="allTopic">Làm ngay</a>
              </div>
          </div>
      </div>
  </div>
</div>
