<div class="quiz-section-title">
  <div class="quiz-content">Question {{index}}. {{question?.content}}</div>
  <div *ngIf="!(question!.image.includes('null'))">
    <div class="quiz-image"><img [src]="imagePath + question?.image" alt=""></div>
  </div>
</div>
<div class="quiz-section-content">
  <div class="container">
    <div *ngFor="let Answer of question?.answerList">
      <app-answer-contestant [answer]="Answer" [index]="index" [listOption]="listOption"></app-answer-contestant>
    </div>
  </div>
</div>
