<div class="collapse navbar-collapse" id="ifiTestNav" class="float-right">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/contestant/home">Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="dropdown-topic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Frontend</a>
      <div class="dropdown-menu" aria-labelledby="dropdown">
        <a class="dropdown-item" href="#">HTML</a>
        <a class="dropdown-item" href="#">CSS</a>
        <a class="dropdown-item" href="#">JavaScript</a>
        <a class="dropdown-item" href="#">Bootstrap</a>
        <a class="dropdown-item" href="#">Angular</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="dropdown-topic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Backend</a>
      <div class="dropdown-menu" aria-labelledby="dropdown">
        <a class="dropdown-item" href="#">Java Basic</a>
        <a class="dropdown-item" href="#">Java Advanced</a>
        <a class="dropdown-item" href="#">Java OOP</a>
        <a class="dropdown-item" href="#">Java Spring</a>
        <a class="dropdown-item" href="#">Database</a>
      </div>
    </li>
  </ul>
</div>
