<div class="banner">
  <div class="middle">
      <h1>HỆ THỐNG THI TRẮC NGHIỆM CỦA IFI</h1>
  </div>
</div>
<section class="featued-list" id="featued-list">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-3 col-sm-12 relative hover-link">
        <div class="shadow-box">
          <div class="img"><img src="../../../assets/images/test/itNewExam.png"></div>
          <h3>Tạo đề thi lập trình mới</h3>
          <p>Tạo đề thi với các chủ đề về lập trình để bổ sung kiến thức chuyên môn cho nhân viên IFI Solution</p>
          <a href="/contributor/addExam" class="btn orange">Tạo ngay</a>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-sm-12 relative hover-link">
        <div class="shadow-box">
          <div class="img"><img src="../../../assets/images/test/englishNewExam.png"></div>
          <h3>Tạo đề thi tiếng Anh mới</h3>
          <p>Tạo đề thi tiếng Anh bám sát với các chứng chỉ tiếng Anh nhất cho nhân viên IFI Solution</p>
          <a href="/contributor/unfinished" class="btn orange">Tạo ngay</a>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-sm-12 relative hover-link">
        <div class="shadow-box">
          <div class="img"><img src="../../../assets/images/test/questionBank.png"></div>
          <h3>Ngân hàng cầu hỏi</h3>
          <p>Bổ sung thêm câu hỏi vào ngân hàng câu hỏi của hệ thống để làm đa dạng đề thi cho hệ thống</p>
          <a href="/contributor/questionBank" class="btn orange">Thêm ngay</a>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-sm-12 relative hover-link">
        <div class="shadow-box">
          <div class="img"><img src="../../../assets/images/test/deletedList.png"></div>
          <h3>Câu hỏi đã xóa</h3>
          <p>Tổng hợp những câu hỏi đã xóa hỏi ngân hàng câu hỏi chính, có thể thêm trở lại vào ngân hàng câu hỏi</p>
          <a href="/contributor/deletedQuestion" class="btn orange">Xem ngay</a>
        </div>
      </div>
    </div>
  </div>
</section>
