<div id="exam" class="container">
  <form action="">
    <div class="exam-info">
      
      <div *ngIf="this.router.url.includes('addExam')">
        <div class="col-md-12">
          <h1 class="exam-title">Tạo đề thi mới</h1>
        </div>
        <div id="contributor-info">
          <div class="col-md-6">
            <div class="form-group">
              <label class="label" for="examName">Tên đề thi :</label>
              <input type="text" class="form-control" name="examName" id="examName" placeholder="Nhập tên đề thi (sẽ được tạo tự đông nếu không nhập)">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="label" for="topic">Chủ đề <span>*</span> :</label>
              <select class="form-control" name="topic" id="topic" (change)="onInputTopicFilled()" required>
                <option value="None">Chọn chủ đề</option>
                <option *ngFor="let topic of topicList" [ngValue]="topic.content">{{topic.content}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="this.router.url.includes('editExam')">
        <div class="col-md-12">
          <h1 class="exam-title">Câu hỏi trắc nghiệm chủ đề {{exam?.topic}}</h1>
        </div>
        <div id="contributor-info">
          <div class="col-md-12">
            <div class="form-group">
              <label class="label" for="examName">Tên đề thi :</label>
              <input type="text" class="form-control" name="examName" id="examName" placeholder="Nhập tên đề thi" [value]="exam?.name">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="exam-content">
      <div id="searchQuestionBlock" class="header">
        <ng-select
          name="topic-question"
          bindLabel="content"
          placeholder="Tìm trong ngân hàng câu hỏi" 
          [items]="topicQuestion" 
          [(ngModel)]="selected"
          (change)="getSelectedQuestion()">
        </ng-select>
        <span (click)="addNewQuestion()" class="addBtn">Add question</span>
      </div>

      <ul id="listQuestion">
        <div *ngFor="let Question of exam?.questionList; let i = index">
          <li class="dropdown">
            <div *ngIf="!(exam!.questionList[i].image.includes('null'))" class="question-image">
              <img [src]="imagePath + exam!.questionList[i].image" alt="">
            </div>
            <div class="drop-item">
              <svg aria-hidden="true" width="20" height="20" focusable="false" data-prefix="fal" data-icon="chevron-double-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-chevron-double-down fa-w-14 fa-2x"><path fill="currentColor" d="M443.5 98.5l-211 211.1c-4.7 4.7-12.3 4.7-17 0L4.5 98.5c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L224 269.9 419.5 74.5c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.6 4.6 4.6 12.2-.1 16.9zm0 111l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 397.9 28.5 202.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.8 4.8-12.4.1-17.1z" class=""></path></svg>
              <div class="question-content">{{exam!.questionList[i].content}}</div>
              <svg aria-hidden="true" width="20" height="20" aria-labelledby="deleteQuestion" focusable="false" data-prefix="fas" data-icon="minus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-minus fa-w-14 fa-2x">
                <title id="deleteQuestion">Delete Question</title>
                <path fill="currentColor" d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" class=""></path>
              </svg>
            </div>
            <div class="dropdown-content">
              <div *ngFor="let Answer of exam!.questionList[i].answerList; let j = index">
                <div class="content-item">{{exam!.questionList[i].answerList[j].content}}</div>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>

    <div class="exam-check">
      <button type="submit" class="btn btn-primary check-quiz">
        <div *ngIf="this.router.url.includes('addExam')">Tạo</div>
        <div *ngIf="this.router.url.includes('editExam')">Lưu</div>
      </button>
    </div>
  </form>
</div>
