<div class="tests-list">
  <div class="container">
    <div *ngIf="router.url === '/contestant/list'">
      <h1 class="exam-topic-title">Kho đề thi tổng hợp các chủ đề</h1>
      <div *ngFor="let Exam of examList">
        <app-list-item [exam]="Exam"></app-list-item>
      </div>
    </div>

    <div *ngIf="router.url.includes('/contestant/topic/')">
      <h1 class="exam-topic-title">Kho đề thi chủ đề {{topic}}</h1>
      <div *ngIf="examList?.length !== 0">
        <div *ngFor="let Exam of examList">
          <app-list-item [exam]="Exam"></app-list-item>
        </div>
      </div>
      <div *ngIf="examList?.length === 0">
        <i class="noExam">Chưa có đề thi chủ đề {{topic}}, hãy tạo và làm làm ngay</i>
      </div>
    </div>

    <div *ngIf="router.url === '/contributor/list'">
      <h1 class="exam-topic-title">Kho đề thi</h1>
      <div *ngFor="let Exam of examList">
        <app-list-item [exam]="Exam"></app-list-item>
      </div>
    </div>
  </div>
</div>
