.tests-list {
  width: calc(100% - 30px) !important;
}

.exam-topic-title {
  text-align: center;
  padding-top: 30px;
}

.noExam {
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 10px 10px 30px 10px;
}
