<div id="exam" class="container">
  <div class="examInfo">
    <div class="col-md-12">
      <h1 class="examName">Câu hỏi trắc nghiệm lập trình Angular</h1>
    </div>
    <div id="contestantInfo">
      <div class="col-md-6">
        <div class="form-group">
          <label class="label" for="fullName">Tên nhân viên</label>
          <input type="text" class="form-control" name="fullName" id="fullName" placeholder="Tên đầy đủ">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
        <label class="label" for="employeeID">Mã nhân viên</label>
        <input type="text" class="form-control" name="employeeID" id="employeeID" placeholder="Mã nhân viên">
        </div>
      </div>
    </div>
  </div>
  <div class="examContent">
    <ul>
      <app-question></app-question>
    </ul>
  </div>
</div>
