<div id="contact">
  <div class="container">
    <div class="contact-content">
      <h4>IFI SOLUTION CO., LTD</h4>
      <p>
        <a href="https://www.google.com/maps?ll=21.001464,105.804671&amp;z=15&amp;t=m&amp;hl=vi&amp;gl=US&amp;mapclient=embed&amp;cid=12623369974094757834" target="_blank" rel="noopener">
          <span class="d-inline-flex">F12, Thang Long Tower, 98A Nguy Nhu Kon Tum, Hanoi, Vietnam</span>
        </a>
      </p>
      <p>
        <i class="fa fa-phone color-orange d-inline-flex"></i><span class="d-inline-flex"><a href="tel:02462512890">+84 (0) 24 62 51 28 90</a></span>
      </p>
      <p>
        <i class="fa fa-envelope color-orange d-inline-flex"></i><span class="d-inline-flex"><a href="mailto:ifi@nttdata.com">ifi@nttdata.com</a></span>
      </p>
    </div>
  </div>
</div>
