<div id="exam" class="container">
  <form action="">
    <div class="exam-info">
      <div class="col-md-12">
        <h1 class="exam-topic">Câu hỏi trắc nghiệm chủ đề {{exam?.topic}}</h1>
        <h2 class="exam-name">{{exam?.name}}</h2>
      </div>
      <div class="col-md-12 exam-time">
        <countdown [config]="{ leftTime: examTime }"></countdown>
      </div>
      <div id="contestantInfo">
        <div class="col-md-6">
          <div class="form-group">
            <label class="label" for="fullName">Tên nhân viên <span>*</span> :</label>
            <input type="text" class="form-control" name="fullName" id="fullName" placeholder="Tên đầy đủ">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
          <label class="label" for="employeeID">Mã nhân viên <span>*</span> :</label>
          <input type="text" class="form-control" name="employeeID" id="employeeID" placeholder="Mã nhân viên">
          </div>
        </div>
      </div>
    </div>
    <div class="examContent">
      <ul>
        <div *ngFor="let Question of exam?.questionList; let i = index">
          <app-question-contestant [question]="Question" [index]="i+1"></app-question-contestant>
          <div class="separator"></div>
        </div>
      </ul>
    </div>
    <div class="exam-check">
      <button type="submit" class="btn btn-primary check-quiz" (click)="showExamResult()">Nộp bài</button>
      <div class="exam-result hide">
        <span>Tổng số câu trả lời đúng: {{"correct"}}/{{"totalQuestion"}}</span>
        <span> Số điểm bạn đạt được: {{"mark"}} điểm.</span>
      </div>
    </div>
  </form>
</div>
