<div id="header">
  <div class="container position-relative">
    <nav class="navbar navbar-expand-md">
      <div class="float-left">
        <a href="/contestant/home" class="logo">
            <img src="../../assets/images/logo/ifiLogo.png" alt="IFI Solution">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ifiTestNav" aria-controls="ifiTestNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <app-navigation *ngIf="!(router.url === '/' || router.url === '/login' || router.url === '/registration')"></app-navigation>
    </nav>
  </div>
</div>
